---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID 3e46d797b1b4e8887ff6c2c4fa3e07cd2995aa5003a1b92daffea94176f8f810
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      Fastly-Debug-Digest:
      - 6d5c94161fa38e890398e313982157ce0cdb0fd5fd14b8e2dfac2c381a336924
    body:
      encoding: UTF-8
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Wed, 24 May 2017 06:50:23 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&query=car
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID 3e46d797b1b4e8887ff6c2c4fa3e07cd2995aa5003a1b92daffea94176f8f810
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=87&query=car>; rel="last", <https://api.unsplash.com/search/photos?page=2&query=car>;
        rel="next"
      X-Total:
      - '865'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
      Fastly-Debug-Digest:
      - 64918dd63ed8b5fb3e5493373e2bb5d21d34bc5ec86d7ef07321be6debe75030
    body:
      encoding: UTF-8
      string: '{"total":865,"total_pages":87,"results":[{"id":"C4FV77ovIBM","created_at":"2015-09-13T20:03:54-04:00","updated_at":"2017-05-19T04:30:49-04:00","width":5760,"height":3840,"color":"#38332B","likes":1172,"liked_by_user":false,"user":{"id":"NGKqOOzOnK0","updated_at":"2017-05-19T04:30:49-04:00","username":"ericmichael","name":"Eric
        Micheal","first_name":"Eric","last_name":"Micheal","portfolio_url":null,"bio":"","location":null,"total_likes":5,"total_photos":4,"total_collections":0,"profile_image":{"small":"https://images.unsplash.com/profile-fb-1442188922-3df4d49c067d.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=95414cf28d90ecc58984ac0dbe430eca","medium":"https://images.unsplash.com/profile-fb-1442188922-3df4d49c067d.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=ba8ed6e5f0b17cadcc7df0eaca6d5bf3","large":"https://images.unsplash.com/profile-fb-1442188922-3df4d49c067d.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=4c861eeb7f78bd663e117b5acd543906"},"links":{"self":"https://api.unsplash.com/users/ericmichael","html":"http://unsplash.com/@ericmichael","photos":"https://api.unsplash.com/users/ericmichael/photos","likes":"https://api.unsplash.com/users/ericmichael/likes","portfolio":"https://api.unsplash.com/users/ericmichael/portfolio","following":"https://api.unsplash.com/users/ericmichael/following","followers":"https://api.unsplash.com/users/ericmichael/followers"}},"current_user_collections":[],"urls":{"raw":"https://images.unsplash.com/photo-1442188950719-e8a67aea613a","full":"https://images.unsplash.com/photo-1442188950719-e8a67aea613a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=3cdc615430c128748c5593c6dbf3c081","regular":"https://images.unsplash.com/photo-1442188950719-e8a67aea613a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=41638aa54155db841d5a7684c6cb50d9","small":"https://images.unsplash.com/photo-1442188950719-e8a67aea613a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=1b53537f340fa1f723c2ec30bd2bd246","thumb":"https://images.unsplash.com/photo-1442188950719-e8a67aea613a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=2abd7195ff255efde369e1002ad94d8c"},"categories":[{"id":8,"title":"Objects","photo_count":13840,"links":{"self":"https://api.unsplash.com/categories/8","photos":"https://api.unsplash.com/categories/8/photos"}}],"links":{"self":"https://api.unsplash.com/photos/C4FV77ovIBM","html":"http://unsplash.com/photos/C4FV77ovIBM","download":"http://unsplash.com/photos/C4FV77ovIBM/download","download_location":"https://api.unsplash.com/photos/C4FV77ovIBM/download"}},{"id":"-hWM8SVsBwA","created_at":"2016-01-26T20:10:27-05:00","updated_at":"2017-05-20T17:43:38-04:00","width":2750,"height":4132,"color":"#E2DA32","likes":203,"liked_by_user":false,"user":{"id":"H7ekPwWW4A0","updated_at":"2017-05-23T17:44:00-04:00","username":"cayton","name":"Cayton
        Heath","first_name":"Cayton","last_name":"Heath","portfolio_url":"http://www.caytonheathphoto.com","bio":"","location":"Vero
        Beach, Florida","t[...]
