---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/sVe4lUSZh70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID 3e46d797b1b4e8887ff6c2c4fa3e07cd2995aa5003a1b92daffea94176f8f810
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - 'Stats endpoint is deprecated. Use Statistics instead. See: https://unsplash.com/documentation#statistics'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
      Fastly-Debug-Digest:
      - 249da20d70d4dff19828f613318bc33a6570457157b9733479dca5ec23d7daf5
    body:
      encoding: UTF-8
      string: '{"id":"sVe4lUSZh70","created_at":"2016-12-05T15:33:44-05:00","updated_at":"2017-05-23T18:36:58-04:00","width":3936,"height":2624,"color":"#040909","slug":null,"downloads":2053,"likes":44,"views":470840,"liked_by_user":false,"exif":{"make":"Sony","model":"ILCE-7","exposure_time":"1/4000","aperture":"4.5","focal_length":"55","iso":400},"location":{"title":"Cherepovets,
        Russia","name":"Cherepovets","city":"Cherepovets","country":"Russia","position":{"latitude":59.132333,"longitude":37.9091811000001}},"current_user_collections":[],"urls":{"raw":"https://images.unsplash.com/photo-1480969983873-f5f4e939e4db","full":"https://images.unsplash.com/photo-1480969983873-f5f4e939e4db?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=97c0d6583a854e9b1b9798eca496a91b","regular":"https://images.unsplash.com/photo-1480969983873-f5f4e939e4db?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=415abf74136a9e69a81d45bd4a2d95b9","small":"https://images.unsplash.com/photo-1480969983873-f5f4e939e4db?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=921f9b9a26635c08a901e14e3c4385a3","thumb":"https://images.unsplash.com/photo-1480969983873-f5f4e939e4db?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=1897f83cf25fe8a8fd14ea067685731b"},"categories":[],"links":{"self":"https://api.unsplash.com/photos/sVe4lUSZh70","html":"http://unsplash.com/photos/sVe4lUSZh70","download":"http://unsplash.com/photos/sVe4lUSZh70/download","download_location":"https://api.unsplash.com/photos/sVe4lUSZh70/download"},"user":{"id":"7ldj02Yyy_0","updated_at":"2017-05-24T04:05:20-04:00","username":"rozetsky","name":"Ant
        Rozetsky","first_name":"Ant","last_name":"Rozetsky","portfolio_url":"https://www.instagram.com/rztsky/","bio":"","location":"Russia","total_likes":213,"total_photos":183,"total_collections":0,"profile_image":{"small":"https://images.unsplash.com/profile-1474673533333-30e291b936ae?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=5ef16f24b61a966584fe705aa9a310ba","medium":"https://images.unsplash.com/profile-1474673533333-30e291b936ae?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=6d2b3432e2b8d8649c7e2264b420cd3c","large":"https://images.unsplash.com/profile-1474673533333-30e291b936ae?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=947a3e5b55fd563bed433ef726c7f14c"},"links":{"self":"https://api.unsplash.com/users/rozetsky","html":"http://unsplash.com/@rozetsky","photos":"https://api.unsplash.com/users/rozetsky/photos","likes":"https://api.unsplash.com/users/rozetsky/likes","portfolio":"https://api.unsplash.com/users/rozetsky/portfolio","following":"https://api.unsplash.com/users/rozetsky/following","followers":"https://api.unsplash.com/users/rozetsky/followers"}}}'
  recorded_at: Wed, 24 May 2017 08:49:36 GMT
recorded_with: VCR 3.0.3
