@media screen and (max-width: 1200px) {
  .wrapper {
    width: 920px;
  }
  .page {
    min-height: 0;
    top: -5%;
  }
  .img-photos {
    width: 100%;
  }
  .photo-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    width: 780px;
  }
  .previous-page {
    left: 15%;
  }
  .next-page {
    right: 15%;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    width: 700px;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 620px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 450px;
  }

  .alert {
    font-size: 20px;
  }

  .img-photos {
    width: 100%;
  }
  .photo-description {
    min-height: 100%;
    position: static;
    opacity: 1;
    width: 100%;
  }
  .photo{
    display: block;
  }
}