/*
 *= require_tree .
 *= require_self
 */
/*spinner*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
}
#page-preloader .spinner {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('loading51.gif') no-repeat 50% 50%;
}


body {
  background: none repeat scroll 0 0 #0b192f;
  color: #fff;
  font-family: roboto, sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  font-size: 24px;
  font-family: Arial, sans-serif;
  overflow-wrap: break-word;
}

#q {
  text-align: center;
  width: 40%;
  height: 10%;
  font-size: 24px;
  display: inline-block;
}

.header-title {
  margin-top: 25px;
  text-align: center;
}

.search-form {
  display: block;
  text-align: center;
}

.search-form > label {
  font-size: 24px;
  display: block;
  padding: 15px 0;
}

.search-form > input[type="submit"] {
  font-size: 24px;
}

.search-result {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}

.page {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 10%;
  min-height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.link-page {
  display: block;
  height: 100%;
  min-height: 80px;
  width: 100%;
}

.previous-page {
  left: 0;
  background: url("1494205653_icon-ios7-arrow-left.png") no-repeat center;
}

.next-page {
  right: 0;
  background: url("1494205611_icon-ios7-arrow-right.png") no-repeat center;
}

a:hover {
  opacity: 0.7;
  transition: opacity 0.3s, visibility 0.3s;
}

.search-img {
  padding: 15px;
}

.result-panel {
  padding: 0 15px;
}

.result-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

svg.likes-icon {
  background: transparent url('like.svg') no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.likes-count {
  margin-left: 3px;
}

.author {
  margin-left: 15px;
  width: 300px;
}

.photo-title {
  text-align: center;
}

.photo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.photo-description {
  background-color: rgba(0, 0, 0, 0.5);
  width: 25%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
}

.photo-description:hover {
  opacity: 0.9;
  transition: opacity 0.3s, visibility 0.3s;
}

.user-profile {
  padding: 5px 0;
}

.user-avatar {
  vertical-align: top;
  margin-right: 10px;
}

.user-username {
  margin-left: 10px;
  vertical-align: top;
}

.likes-icon--profile {
  width: 20px;
  height: 20px;
}

.inline {
  display: inline-block;
}