/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.table {
  border: 1px solid black;
}

tr, td {
  border: 1px solid black;
}

body {
  background: none repeat scroll 0 0 #0b192f;
  color: #fff;
  font-family: roboto, sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  font-size: 24px;
  font-family: Arial, sans-serif;
  overflow-wrap: break-word;
}

#q {
  text-align: center;
  width: 40%;
  height: 10%;
  font-size: 24px;
  display: inline-block;
}

.header-title {
  margin-top: 25px;
  text-align: center;
}

.search-form {
  display: block;
  text-align: center;
}

.search-form > label {
  font-size: 24px;
  display: block;
  padding: 15px 0;
}

.search-form > input[type="submit"] {
  font-size: 24px;
}

.search-result {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

a:hover {
  opacity: 0.7;
  transition: opacity 0.3s, visibility 0.3s;
}

.search-img {
  padding: 15px;
}

.result-panel {
  padding: 0 15px;
}
.result-panel{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}
svg.likes-icon {
  background: transparent url('like.svg') no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.likes-count{
  margin-left: 3px;
}

.author{
  margin-left: 15px;
  width: 300px;
}

.photo-title{
  text-align: center;
}

.photo{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.img-photo{
}

.photo-description{
  background-color: rgba(0,0,0, 0.5);
  width: 25%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.user-profile{
  padding: 5px 0;
}

.user-avatar{
  vertical-align: top;
  margin-right: 10px;
}

.user-username{
  margin-left: 10px;
  vertical-align: top;
}
.likes-icon--profile{
  width: 20px;
  height: 20px;
}

.inline{
 display: inline-block;
}